* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 932px;
    width: 430px;
}

/*#region Instrument-Piano*/

.instrument-piano{
    width: 70vh;
}

.instrument-list{
    
    display:flex;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 650px;
    list-style: none;
    background-color: rgb(61, 61, 61);
    margin: 1.2rem;
}

.white-key{
    width: 88px;
    height: 300px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%,#eee 4%)
}

.white-key:hover{
    background: linear-gradient(#3de96a 96%,#09882b 4%)
}

.black-key:hover{
    background: linear-gradient(#3de96a 96%,#09882b 4%)
}

.black-key{
    width: 44px;
    height: 200px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333 ,#000);
    margin: 0 -22px 0 -22px;
    z-index: 2;

}

/*#endregion*/