
/*#region Tecla*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-homepage{
    display: flex;
}

.notes-image{
    width: 200px;
    height: 200px;
}

.homepage-section{
    display: flex;
}

.background{
    background-color: white;
    width:100%;
    height:100%;
}
.text-container{
    width: 70%;
    height: 70%;
    background-color: #769FEF;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    -webkit-box-shadow: 35px 26px 3px 0px rgba(226, 226, 226, 1);
    -moz-box-shadow: 35px 26px 3px 0px rgba(226, 226, 226, 1);
    box-shadow: 35px 26px 3px 0px rgba(226, 226, 226, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5%;
    margin: 7%;
    text-size-adjust: auto;
    position: relative;

}

.welcome{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: auto;
    height: 82.7%;
}

.welcome-tutorials{
    display: flex;
    width: auto;
    height: 82.7%;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-settings{
    height: 500px;
    width: 800px;
}

#beatflow{
    background-image: linear-gradient(to right,rgba(120, 161, 240, 1),rgba(254, 254, 255, 1),rgba(254, 254, 255, 1));
    width: 100vw;
    height: 50px;
    margin-top: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

h1{
    color:white;
    font-size: 1.2em;
    margin-top: 0%;
    text-align: left;
    margin-top: 10px;
    margin-left: 7%;
    font-family: "Titan One", sans-serif;
    font-weight: lighter;
}

h2{
    color: white;
    font-size: 1em;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: #fff;
}

.welcometext{
    color:white;
    font-size:  1em;

}
.footertext{
    font-size:1em;
    color: white;
}
#click-button{
    background-color: #296AE7;
    color: white;
    width: 150px;
    height:50px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-color: #296AE7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin-top: 5%;
    margin-bottom: 3%;
}
/*#endregion*/

/*#region footer*/
.footer-menu-hamburguer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(118, 159, 239, 1);
    font-size: small;
    margin-bottom: 0%;
}
#copyright{
    margin-bottom: 0%;
    width: 40px;
    height: 40px;
}
#facebook{
    width: 45px;
    height:45;
}
#logotiamusic{
    width: 70px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 0%;
}
#twitterx{
    width: 45px;
    height:45px;
}
#instagram{
    width: 52px;
    height:52px;

}

/*STYLES HAMBURGUER*/
/*#region hamburguer*/

/*#hamburguer-button*/
#hamburguer-button{
    background: none;
    position: fixed;
    z-index: 3;
    right: 3%;  
    top: 3%;
  }
  /*#hamburguer-button*/

  #hamburguer-menu{
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;
      width: 100vw;
      height: 100vh;
      color:white;
      top: 0%;
      left: 0%;  
  }
  /*#endregion*/
  
  /*#hamburguer-items*/
  #hamburguer-menu ul li {
      font-size: 45px;
      font-family: "Titan One", sans-serif;
      padding-bottom: 30px;
  
  }
  /*#endregion*/
  
  
  /*#footer-hamburguer*/
  .footer-hamburguer-menu{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-right: 3%;
    margin-bottom: 1%;
    z-index: 2;
  }
  /*#endregion*/
  
  /*#logo tiamusic*/
  #logo-tiamusic{
    width: 50px;
    height: 50px;
    padding: auto;
  }
  /*#endregion*/
  
  /*#PowerBy*/
  #power{
    font-size: 20px;
    font-family: "Homenaje", sans-serif;
    color: white;
    margin-top: 5%;
  }

/*#endregion*/
